<div class="grid place-items-center h-screen text-center">

  <h1 class="text-3xl font-bold">
    Scrumble
  </h1>
  <h3>
    "{{hint}}"
  </h3>
  <div class="grid grid-rows-1">
    <div *ngFor="let block of blocks; index as i;">
      <div *ngFor="let char of block; index as j;">
        {{getChar(i, j)}}
      </div>
    </div>
  </div>

  <div class="w-2/6 h-2/6 grid content-normal grid-cols-3 gap-4 font-extrabold text-3xl">
    <div></div>
    <div><button (click)="track.up()">↑</button></div>
    <div></div>
    <div><button (click)="track.left()">←</button></div>
    <div><button (click)="check()">✓</button></div>
    <div><button (click)="track.right()">→</button></div>
    <div></div>
    <div><button (click)="track.down()">↓</button></div>
    <div></div>
  </div>
</div>
