@tailwind base;
@tailwind components;
@tailwind utilities;
$foreground_primary: #1d403b;
$foreground_secondary: #81623a;
$background_primary: #20202088;
$secondary: #3c3b3d;

html {
	font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
  color: $secondary;
  background-color: #f9f9f9;
  touch-action: manipulation;
  margin: 0; height: 100%; overflow: hidden
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

